.coloured-stages .earth-brown { color: #C09473; font-weight: bold; }
.coloured-stages .grass-green { color: #007473; font-weight: bold; }
.coloured-stages .vibrant-purple { color: #C084A3; font-weight: bold; }
.coloured-stages .sky-blue { color: #88BDE7; font-weight: bold; }